.searchForm {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.searchIcon {
  color: #383737;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.searchInput {
  width: calc(100% - 40px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #655e5e;
  border-radius: 5px;
  /* box-sizing: border-box; */
  background-color: transparent;
}

.searchInput:hover {
  border-color: rgb(20, 21, 20);
}
